
html {
    font-family: $font-family-primary;
    font-size: 14px;
}

.img-icon {
    @include setBoxSize(20px, auto);
}

.margin-categories-list {
    margin: 1px;
}

.startBox {
    @extend .margin-categories-list;
    padding: 0.5rem;
    background-color: $color-white;
    font-size: 16px;
    font-weight: $font-weight-bold;
}

.endBox {
    @extend .margin-categories-list;
    padding: 0.5rem;
    background-color: $color-white;

    .viewMore {
        text-decoration: none;
        color: $color-button;
        background-color: $color-white;
        border: none;
        font-weight: $font-weight-semi-bold;
    }

    .btn-viewMore {
        @extend .margin-categories-list;
        padding: 10px;
        border: 1px solid $color-button;
    }
}

.aside-bottle {
    font-size: 14.5px;

    .list-categories {
        @extend .margin-categories-list;
        font-weight: $font-weigh-regular;

        .list-categories-item {
            position: relative;
            border: none;
            cursor: pointer;

            a {
                color: #000;
                text-decoration: none;
            }

            .category {
                display: flex;
                justify-content: space-between;
            }
        }

        .dropdown-menu {
            position: absolute;
            left: 100%;
            border: none;
            top: 0;
            margin-top: 0;

            .dropdown-item:hover {
                color: $color-primary;
            }

            .dropdown-item:active {
                background-color: $color-text !important;
            }
        }

        .list-categories-item:hover {
            .dropdown-menu {
                display: block;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
            }

            .category {
                color: $color-primary;
            }
        }
    }
}