@import 'variable';
@import 'mixin';

@import 'aside-left';
@import 'footer';
@import 'slogan';
@import "bep";
@import "show-category";
@import "quat";
@import 'viewHistory';
@import '_details';
@import 'bottle';
@import "detail-quat";
body {
    font-family: $font-family-primary;
    font-size: $font-size;
    color: $color-text;
    line-height: 1.4rem;
}



header {

    background-color: $color-primary;

    .background-image {
        background-color: rgb(197, 242, 250);
        height: 60px;
    }

    .box-header {
        height: 82px;
        background-color: $color-primary;
        position: relative;

        .container-header {
            .row-header {
                .home-box {
                    margin: 0px;
                    padding: 0px;
                    line-height: 82px;
                    max-height: 82px;
                    position: relative;
                    cursor: pointer;

                    .list-icon {
                        font-size: 40px;
                        margin-right: 30px;
                        color: white;
                    }

                    .logo {
                        font-size: 40px;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        background-color: gray;
                        list-style: none;
                        display: inline-flex;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 82px;
                        visibility: hidden;
                        width: 1320px;
                        z-index: 1;
                        height: 82px;

                        li {
                            float: left;
                            position: relative;
                            width: 322px;

                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }


                    }
                }

                .home-box:hover ul {
                    align-items: center;
                    width: 1320px;
                    background-color: white;
                    opacity: 1;
                    top: 82px;
                    visibility: visible;
                    border: 1px solid gray;
                    font-size: 15px;
                    padding: 0;
                    margin: 0;
                    height: 82px;

                    img {
                        position: relative;
                        width: 40px;
                        top: -10px;
                    }

                    p {
                        top: -55px;
                        position: relative;
                        height: 0px;
                        margin: 0;
                        padding: 0;
                    }
                }

                .home-box li:hover a {
                    color: $color-primary;
                }

                .search-box {

                    .search-container {
                        margin-top: 16px;
                        margin-left: 50px;
                        position: relative;

                        form {

                            input {
                                border-radius: 2px 0px 0px 2px;
                                margin-top: 8px;
                                font-size: 15px;
                                border: none;
                                width: 450px;
                                padding: 5px;
                                padding-left: 40px;
                                padding-right: 30px;
                            }

                            button {
                                border-radius: 0px 2px 2px 0px;
                                position: absolute;
                                padding: 5px;
                                margin-top: 8px;
                                background: #ddd;
                                font-size: 15px;
                                border: none;
                                width: 80px;
                                cursor: pointer;
                            }

                            .mic-icon {
                                margin: 13px 5px 0 0;
                                font-size: 16px;
                                position: absolute;
                                right: 50px;
                                cursor: pointer;
                                color: gray;
                            }

                            .search-icon {
                                margin: 14px 5px 0 0;
                                font-size: 16px;
                                position: absolute;
                                left: 15px;
                                cursor: pointer;
                                color: gray;
                            }

                        }

                    }

                }

                .tool-box {

                    .login-box {

                        .dropdown {
                            display: flex;
                            flex-direction: column;
                            box-shadow: 0 5px 10px 0 #eee;
                            background: #fff;
                            border-radius: 0.125rem;
                            list-style: none;
                            padding: 0;
                            opacity: 0;
                            position: absolute;
                            visibility: hidden;
                            z-index: 1;

                            li {
                                padding-top: 5px;
                                padding-bottom: 5px;
                                width: 100%;
                            }

                            li:hover {
                                color: $color-primary;
                                background-color: #eee;
                                cursor: pointer;
                            }
                        }
                    }

                    .login-box:hover .dropdown {
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0 5px 10px 0 #eee;
                        background: #fff;
                        border-radius: 0.125rem;
                        list-style: none;
                        padding: 0;
                        opacity: 1;
                        position: relative;
                        visibility: visible;

                        li {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            width: 100%;
                        }

                        li:hover {
                            color: $color-primary;
                            background-color: #eee;
                            cursor: pointer;
                        }
                    }

                    span {
                        color: $color-white;
                    }

                    .user-icon {
                        color: $color-white;
                        margin-right: 4px;
                    }

                    .title-login-1 {
                        margin-top: 4px;
                        font-size: 16px;
                    }

                    .title-login-2 {
                        font-size: 12px;
                        bottom: 14px;
                    }

                    .cart {
                        span {
                            color: $color-white;
                        }
                    }

                    .cart-icon {
                        color: $color-white;
                    }

                    .guide span {
                        color: $color-white;
                    }

                    .question-icon {
                        color: $color-white;
                    }

                    .navbar-custom {
                        float: right;
                    }

                    .hotline span {
                        color: $color-white;
                    }

                    .phone-icon {
                        color: $color-white;
                    }

                }

            }

        }

    }

}

/*Danh mục nổi bật*/
.center-body-right>.trend-catalog {
    margin-top: 12px;
    background: #fff;
    padding-bottom: 5px;
}

.trend-catalog>.trend-catalog-title {
    padding: 10px 10px 10px 40px;
    position: relative;
}

.trend-catalog>.trend-catalog-title:before {
    background: url(https://meta.vn/Data/image/2021/01/13/hot-category.png) no-repeat;
    content: "";
    background-size: 28px;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    left: 5px;
}

.trend-catalog-title>.h2 {
    font-size: 18px;
    font-weight: bold;
}

.list-catalog-container>.list-catalog-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    width: 100%;
    padding: 0 7px;
    overflow: hidden;
    max-height: 453px;
    padding: 0 7px;
    margin: auto;
}

.list-catalog-main>.catalog-main-item {
    position: relative;
    width: calc(100% / 8);
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    box-sizing: border-box;
}

.catalog-main-item>div>.name-cat-main {
    margin-top: 5px;
    line-height: 18px;
    padding: 0 5px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.list-catalog-main>.catalog-main-item:hover .name-cat-main {
    color: #da251c;
}

div>.discount-cat-main {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #da251c;
    padding: 0 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
}

.list-catalog-container>.view-more-page {
    margin: 10px 0;
}

.list-catalog-container>.view-more-page a {
    color: #333;
    text-align: center;
    display: block;
    text-decoration: none;
}

.list_logo_brand_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .item-hidden {
        display: none;
    }

    .show-more-item {
        width: auto;
        background-color: $color-text-primary;
        padding-top: 6px;

        .click-show-more {
            text-decoration: none;
            color: white;
            font-size: smaller;
            text-align: center;
            margin: auto;
        }

    }

    .dont-show-more-item {
        display: none;
        width: auto;
        background-color: $color-text-primary;
        padding-top: 6px;

        .click-dont-show-more {
            text-decoration: none;
            color: white;
            font-size: smaller;
            margin: auto;
            text-align: center;

        }
    }




    .shead-brand-item {
        height: 37px;
        width: auto;
        list-style-type: none;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 5px;
        margin: 5px;
        flex: 0 0 9%;
        box-sizing: border-box;

        .list_logo_brand_image {
            height: 17px;
            width: 80px;
            text-align: center;
            vertical-align: middle;
            object-fit: scale-down;
            padding: 0 8px;
            margin: 6px 0 0 0;
        }
    }
}
.box-img img { width: 100%; height: 100%; object-fit:cover }
.overlow-text{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.price{
    font-size: 24px;
    font-weight: 700;
    color: #da251c;
    display: inline-block;
    line-height: 28px;
}
.original-price{
    text-decoration: line-through;
    margin-left: 10px;
}