@import 'variable';
@import 'mixin';


@import 'footer';
@import 'slogan';

@import 'viewHistory';

body{
    font-family: $font-family-primary;
    font-size: $font-size;
    color: $color-text;
    line-height: 1.4rem;
    background-color: gainsboro;
}