<header>
    <div class="background-image text-center">
        <img src="image/Banner-1-6-1236x60.png" alt="" class="top-banner mx-auto" />
    </div>
    <div class="box-header">
        <div class="container p-0 container-header">
            <div class="row m-0 row-header">
                <div class="home-box col-md-2 p-0">
                    <i class="list-icon bi bi-list"> </i>
                    <span class="logo text-white fw-bolder">META</span>
                    <ul class="text-center">
                        <li>
                            <a href="">
                                <img src="/image/header-image/448.webp" alt="" />
                                <p>Quạt, máy làm mát</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/1099.webp" alt="" />
                                <p>Các loại nồi</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/565.webp" alt="" />
                                <p>Cây nước nóng lạnh</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/1089.webp" alt="" />
                                <p>Các loại bếp</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/463.webp" alt="" />
                                <p>Đồ vệ sinh - làm sạch</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/778.webp" alt="" />
                                <p>Bình giữ nhiệt</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/629.webp" alt="" />
                                <p>Máy xay cà phê</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/422.webp" alt="" />
                                <p>Máy lọc nước</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/image/header-image/420.webp" alt="" />
                                <p>lò vi sóng</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 p-0 search-box">
                    <div class="search-container">
                        <form action="#">
                            <i class="search-icon bi bi-search"></i>
                            <input type="text" placeholder="Bạn cần tìm kiếm sản phẩm gì ?" name="search" />
                            <i class="mic-icon bi bi-mic-fill"></i>
                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 p-0 tool-box">
                    <nav class="navbar navbar-expand-lg navbar-custom">
                        <div class="container-fluid p-0 containerfluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="login-box nav-item">
                                        <a class="nav-link d-inline-flex" aria-current="page" href="#">
                                            <i class="user-icon bi bi-person-fill fs-3"> </i>
                                            <div class="d-flex flex-column">
                                                <span class="title-login-1">Đăng nhập</span>
                                                <span class="title-login-2">Chưa xem sản phẩm nào</span>
                                            </div>
                                        </a>
                                        <ul class="dropdown text-center">
                                            <li>Tra cứu đơn hàng</li>
                                            <li>Lịch sử mua hàng</li>
                                            <li>Lấy mã khuyến mãi</li>
                                            <li>Sản phẩm đã xem</li>
                                        </ul>
                                    </li>
                                    <li class="cart nav-item">
                                        <a class="nav-link" aria-current="page" href="#">
                                            <i class="cart-icon bi bi-cart-fill fs-3"></i>
                                            <span>Giỏ hàng</span>
                                        </a>
                                    </li>
                                    <li class="guide nav-item">
                                        <a class="nav-link" aria-current="page" href="#">
                                            <i class="question-icon bi bi-question-circle-fill fs-3"></i>
                                            <span>Hướng dẫn</span>
                                        </a>
                                    </li>
                                    <li class="hotline nav-item">
                                        <a class="nav-link" aria-current="page" href="#">
                                            <i class="phone-icon bi bi-telephone-fill fs-3"></i>
                                            <span>Hotline</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container bottles">
    <div class="row pt-1 custom-text-bot-header">
        <div class="col-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i class="bi bi-house-door-fill"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="">
                            Các loại bình giữ nhiệt
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-10 ">
            <a class="float-end mb-0">Tặng bình giữ nhiệt khi mua nồi cơm điện</a>
            <a class="float-end fw-bold mb-0">
                KHUYẾN MẠI
                <img class="gift-icon-img"
                    src="https://th.bing.com/th/id/R.a4980142d6dd7a08ce02b6ce3e68ed98?rik=h7sukOuqeKgJXw&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fgift-icon.png&ehk=mJF5A%2f9%2b55P7arcOLniu1yJi8lO3gmewHVi6O5EUpUE%3d&risl=&pid=ImgRaw&r=0"
                    alt="">
            </a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg-2 p-0 ">
            <div class="aside-bottle">
                <div class="startBox title text-uppercase text-center">
                    CÁC loại đồ gia dụng
                </div>
                <ul class="list-group list-categories">
                    <li class="list-group-item list-categories-item" ng-repeat="category in bottleCategories">
                        <a class="category dropdown" href="#">
                            <div>
                                <img src="{{category.icon}}" alt="" class="img-icon">
                                {{category.name}}
                            </div>
                            <div class="float-end" ng-if="category.subcategoriesList.length > 0">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu" ng-if="category.subcategoriesList">
                            <div href="#" class="dropdown-item" ng-repeat="subcategory in category.subcategoriesList">
                                {{subcategory.subcategory_name}}
                                <div class="float-end" ng-show="subcategory.id">
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                                <div class="sub-menu" ng-if="subcategory.id">
                                    <a href="" class="dropdown-item" ng-repeat="item in subcategory.subcategoriesSmall">
                                        {{item.subcategory_name}}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>
                <div class="endBox text-center">
                    <button class="viewMore" type="button">
                        <div class="">
                            <div ng-show="!showCategoriesHidden" ng-click="showCategoriesHidden = true">
                                Xem thêm
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div ng-show="showCategoriesHidden" ng-click="showCategoriesHidden = false">
                                Rút gọn
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>

                    </button>
                </div>
            </div>
            <div class="aside-brands mt-3">
                <div class="startBox title text-uppercase text-center ">
                    thương hiệu
                </div>
                
                <ul class="list-group list-brands">
                    <div class="list-group-item list-brand-item d-flex justify-content-center">
                        <label class="custom-textInput">
                                <input type="text" class="textInput">
                                <a href="" class="search-icon">
                                    <i class="fa-solid fa-magnifying-glass fa-sm"></i>
                                </a>
                        </label>
                    </div>
                    <li class="list-group-item list-brand-item" ng-repeat="brand in bottleBrands | filter: {expand: false}">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="me-1">
                            <span class="linkToCheckBox">
                                {{brand.name}}
                                <span class="numberOfProducts">
                                    (9)
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="list-group-item list-brand-item" ng-repeat="brand in bottleBrands | filter: {expand: true}" ng-show="showAsideBrandHidden">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="me-1">
                            <span class="linkToCheckBox">
                                {{brand.name}}
                                <span class="numberOfProducts">
                                    (9)
                                </span>
                            </span>
                        </label>
                    </li>
                </ul>
                <div class="endBox text-center ">
                    <button class="viewMore" type="button">
                        <div class="" ng-click="showAsideBrandHidden = true" ng-show="!showAsideBrandHidden">
                            Xem thêm
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="" ng-click="showAsideBrandHidden = false" ng-show="showAsideBrandHidden">
                            Rút gọn
                            <i class="fa-solid fa-chevron-up"></i>
                        </div>
                    </button>
                </div>
            </div>
            <div class="aside-budgets mt-3">
                <div class="startBox title text-uppercase text-center ">
                    khoảng giá (VNĐ)
                </div>
                <ul class="list-group list-budgets">
                    <li class="list-group-item list-budget-item" ng-repeat="budget in bottleBudgets">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="me-1">
                            <span class="linkToCheckBox">
                                {{budget.budget}}
                                <span class="numberOfProducts">
                                    (9)
                                </span>
                            </span>
                        </label>
                    </li>
                    
                </ul>

            </div>
            <div class="aside-capacity mt-3">
                <div class="startBox title text-uppercase text-center ">
                    Dung tích
                </div>
                <ul class="list-group list-capacity">
                    <li class="list-group-item list-capacity-item" ng-repeat="capacity in bottleCapacities">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="me-1">
                            <span class="linkToCheckBox">
                                {{capacity.capacity_aside}}
                                <span class="numberOfProducts">
                                    (9)
                                </span>
                            </span>
                        </label>
                    </li>
                    
                </ul>

            </div>
            <div class="aside-madein mt-3">
                <div class="startBox title text-uppercase text-center ">
                    Sản xuất tại
                </div>
                <ul class="list-group list-madein">
                    <li class="list-group-item list-madein-item" ng-repeat="madeat in bottleMadeAt">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="me-1">
                            <span class="linkToCheckBox">
                                {{madeat}}
                                <span class="numberOfProducts">
                                    (9)
                                </span>
                            </span>
                        </label>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-lg-10 p-0">
            <div class="row ms-3 me-1">
                <div class="capacity d-flex p-3 startBox">
                    <a href="" class="btn btn-capacity px-2 py-1 mx-1">500ml</a>
                    <a href="" class="btn btn-capacity px-2 py-1 mx-1">750ml</a>
                    <a href="" class="btn btn-capacity px-2 py-1 mx-1">1 lít</a>
                    <a href="" class="btn btn-capacity px-2 py-1 mx-1">1,5 lít</a>
                    <a href="" class="btn btn-capacity px-2 py-1 mx-1">Phích nước</a>
                </div>
            </div>
            <div class="row bg-white ms-3 me-1">

                <div class="col-md-11 pe-0">
                    <ul class="list_logo_brand_head p-0">
                        <li class="shead-brand-item" ng-repeat="brand in bottleBrands | filter: {expand: false}">
                            <a href="" title="{{brand.name}}" data-title="{{brand.name}}" data-bid="2730"
                                class="text-decoration-none">
                                <img class="list_logo_brand_image" src="{{brand.icon}}" alt="{{brand.name}}"
                                    ng-show="brand.icon" />
                                <p class="text-center text-dark " ng-show="brand.title">{{brand.title}}</p>
                            </a>
                        </li>

                        <li class="shead-brand-item" ng-repeat="brand in bottleBrands | filter: {expand: true}"
                            ng-show="showBrandsHidden">
                            <a href="" title="{{brand.name}}" data-title="{{brand.name}}" data-bid="2730">
                                <img class="list_logo_brand_image" src="{{brand.icon}}" alt="{{brand.name}}"
                                    ng-show="brand.icon" />
                                <p class="text-center text-dark " ng-show="brand.title">{{brand.title}}</p>
                            </a>
                        </li>
                        <li class="shead-brand-item showMoreBtn d-flex justify-content-center">
                            <a class="text-light" ng-click="showBrandsHidden=true" ng-show="!showBrandsHidden">
                                <p> Xem thêm</p>
                            </a>
                            <a class="text-light" ng-click="showBrandsHidden=false" ng-show="showBrandsHidden">
                                <p>Thu gọn</p>
                            </a>
                        </li>


                    </ul>
                </div>
                <div class="col-md-1">
                    <i class="fa-solid fa-list-ul fa-xl" style="color: #ff0000;"></i>
                </div>
            </div>
            <div class="row ms-3 me-1 custom-text-bot-header bg-white">
                <a class=" fw-bold">900 Các loại bếp</a>
                <ul class="d-flex flex-wrap custom-listbrand">
                    <li class="border hover-list-brand border-light-subtle rounded-3 p-2 me-2">
                        <a href="" class="">Bán chạy nhất</a>
                    </li>
                    <li class="border hover-list-brand border-light-subtle rounded-3 p-2 me-2">
                        <a href="" class="">Giá tăng dần</a>
                    </li>
                    <li class="border hover-list-brand border-light-subtle rounded-3 p-2 me-2">
                        <a href="" class="">Giá giảm dần</a>
                    </li>
                    <li class="border hover-list-brand border-light-subtle rounded-3 p-2 me-2">
                        <a href="" class="">Mới nhất</a>
                    </li>
                    <li class="border hover-list-brand border-light-subtle rounded-3 p-2 me-2">
                        <a href="" class="">Trả góp</a>
                    </li>
                    <li class="border hover-list-brand border-primary rounded-3 p-2 me-2">
                        <a class="meta-goi-y">
                            <img src="image/bep/like.png" alt="">
                            META gợi ý</a>
                    </li>
                </ul>
            </div>
            <div class="row ms-3 me-1 bg-white">
                <div class="col-md-3 mt-2 mb-2" ng-repeat="bottle in bottleProducts">
                    <div class="bep-custom w-100 bg-white">
                        <a href="">
                            <div class="position-relative">
                                <img src="{{bottle.image.icon}}" class="card-img-top pt-2" alt="...">
                                <span
                                    class="position-absolute top-product align-product translate-middle pt-1 pb-1 pe-2 ps-2 badge rounded-5"
                                    ng-show="bottle.discount">
                                    {{bottle.discount}}
                                </span>
                                <p class="tra-gop position-absolute mb-0">Trả góp</p>
                            </div>
                        </a>
                        <div class="ps-2 pe-2 lh-1">
                            <a href="#!bottle/{{bottle.id}}" class="text-decoration-none">
                                <div class="row">
                                    <div class="col-md-5 float-end">
                                        <p class="float-end so-sanh">
                                            <i class="bi bi-plus-circle"></i>
                                            So sánh
                                        </p>
                                    </div>
                                </div>
                                <p class="card-title bep-cart-title">{{bottle.name + " " +
                                    bottle.id + " " + bottle.specifications.capacity}}</p>
                                <p class="card-text bep-custom-card-text m-0 mt-5">
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    ({{bottle.rating}})
                                </p>
                                <div class="row">
                                    <p class="col-lg-6 bep-price">{{bottle.price.sale | number}}đ</p>
                                    <p class="col-lg-6 bep-sale">{{bottle.price.origin | number}}đ</p>
                                </div>
                            </a>
                            <a href="#" class="btn-mua-ngay btn btn-primary mt-4 rounded-1 w-100">MUA
                                NGAY
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row ms-3 me-1 mt-3 bg-white">
                <div class="product-viewed custom-text-bot-header" data-max="12">
                    <div class="title-bar-hl">
                        <div class="title-bar-left">
                            <div class="title">
                                <a href="/visited" title="Bạn đã xem">Bạn đã xem</a>
                            </div>
                        </div>
                    </div>
                    <div class="cate-watched">
                        <ul class="list-cate-watched">
                            <li class="item-cate-watched">
                                <a href="/may-lam-mat-c1091?ref=viewed">Quạt điều
                                    hòa</a>
                            </li>
                            <li class="item-cate-watched">
                                <a href="/may-hut-bui-gia-dinh-c1147?ref=viewed">Máy
                                    hút bụi gia đình</a>
                            </li>
                            <li class="item-cate-watched delete-prod"><a href="#">Xóa lịch sử</a></li>
                        </ul>
                    </div>
                    <div class="list-seen" data-max="12" data-start="1" data-pages="1" data-pagenum="1"
                        data-hasbutton="0" data-more="1" data-length="4" data-maxpage="3" data-catid="0"
                        data-pagetype="other" data-totalrow="0">
                        <ul class="product-highlight-wrap visited-box visited_list" id="visited-products-highlight"
                            data-curpos="0">
                            <li class="product-highlight-item">
                                <div class="prod-hl-discount"><span>-38%</span></div>
                                <div class="prod-hl-thumb"> <a
                                        href="https://meta.vn/may-lam-mat-khong-khi-saiko-ac-3601e-p91467?ref=viewed"
                                        title="Máy làm mát không khí Saiko AC-3601E (35 lít)"> <img width="140"
                                            height="140" alt="🖼️"
                                            src="https://st.meta.vn/img/thumb.ashx/200x200/Data/image/2024/05/11/may-lam-mat-khong-khi-saiko-ac-3601e-a.jpg"></a>
                                </div>
                                <div class="prod-hl-name"><a
                                        href="https://meta.vn/may-lam-mat-khong-khi-saiko-ac-3601e-p91467?ref=viewed">Máy
                                        làm mát
                                        không khí Saiko AC-3601E (35 lít)</a></div>
                                <div class="product-rate"></div>
                                <div class="product-price">
                                    <span class="product-price-meta">1.790.000 đ</span>
                                    <span class="product-price-old">2.900.000 đ</span>
                                </div>
                            </li>
                            <li class="product-highlight-item">
                                <div class="prod-hl-thumb"> <a
                                        href="https://meta.vn/may-lam-mat-khong-khi-saiko-ec-4500cl-p59633"
                                        title="Máy làm mát không khí Saiko EC-4500CL (65L)"> <img width="140"
                                            height="140" alt="🖼️"
                                            src="https://st.meta.vn/img/thumb.ashx/200x200/Data/image/2024/05/13/may-lam-mat-khong-khi-saiko-ec-4500cl-a.jpg"></a>
                                </div>
                                <div class="prod-hl-name"><a
                                        href="https://meta.vn/may-lam-mat-khong-khi-saiko-ec-4500cl-p59633">Máy
                                        làm mát không khí Saiko EC-4500CL (65L)</a></div>
                                <div class="product-rate"></div>
                                <div class="product-price"> <span class="product-price-meta">3.990.000 đ</span>
                                </div>
                            </li>
                            <li class="product-highlight-item">
                                <div class="prod-hl-discount"><span>-35%</span></div>
                                <div class="prod-hl-thumb"> <a
                                        href="https://meta.vn/may-hut-bui-samsung-vc18m2120sb-sv-1-5-lit-p81506"
                                        title="Máy hút bụi Samsung VC18M2120SB/SV (1.5 lít)"> <img width="140"
                                            height="140" alt="🖼️"
                                            src="https://st.meta.vn/img/thumb.ashx/200x200/Data/image/2021/12/25/may-hut-bui-samsung-vc18m2120sb-sv-1-5-lit-300.jpg"></a>
                                </div>
                                <div class="prod-hl-name"><a
                                        href="https://meta.vn/may-hut-bui-samsung-vc18m2120sb-sv-1-5-lit-p81506">Máy
                                        hút bụi Samsung
                                        VC18M2120SB/SV (1.5 lít)</a></div>
                                <div class="product-rate"></div>
                                <div class="product-price">
                                    <span class="product-price-meta">1.290.000 đ</span>
                                    <span class="product-price-old">1.990.000 đ</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row ms-3 me-1 mt-3 bg-white">
                <div class="trend-catalog wrap-catalog-main">
                    <div class="trend-catalog-title">
                        <div class="h2">
                            Danh mục nổi bật
                        </div>
                    </div>
                    <div class="list-catalog-container">
                        <ul class="list-catalog-main" data-count="16">
                            <li class="catalog-main-item" title="{{category.name}}"
                                ng-repeat="category in bottleHotCategories | filter: {expand: false}">
                                <div>
                                    <div class="discount-cat-main"><span>{{category.discount}}</span></div>
                                    <div class="icon-cat-main-thumb"><span><img class="lazy-img lazy-loaded" width="70"
                                                height="70" alt="✓" src="{{category.icon}}"></span></div>
                                    <a class="name-cat-main" href="/dieu-hoa-c1018?ref=cate-trend-CM" title="Điều hòa"
                                        rel="nofollow sponsored">{{category.name}}</a>
                                </div>
                            </li>
                            <li class="catalog-main-item collapse" title="Máy cắt các loại"
                                ng-repeat="category in bottleHotCategories | filter: {expand: false}"
                                ng-show="showHotCategoriesHidden">
                                <div>
                                    <div class="discount-cat-main"><span>{{category.discount}}</span></div>
                                    <div class="icon-cat-main-thumb"><span><img class="lazy-img lazy-loaded" width="70"
                                                height="70" alt="✓" src="{{category.icon}}"></span></div>
                                    <a class="name-cat-main" href="/dieu-hoa-c1018?ref=cate-trend-CM" title="Điều hòa"
                                        rel="nofollow sponsored">{{category.name}}</a>
                                </div>
                            </li>
                        </ul>
                        <div class="trend-category view-more-page">
                            <a href="">
                                <div ng-click="showHotCategoriesHidden = true" ng-show="!showHotCategoriesHidden">
                                    Xem thêm chuyên mục
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div ng-click="showHotCategoriesHidden = false" ng-show="showHotCategoriesHidden">
                                    Rút gọn chuyên mục
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-3 bg-white p-3 custom-text-bot-header">
        <div class="slogan-top"></div>
        <div class="slogan-body">
            <div class="slogan-content">
                <div class="slogan-item">
                    <a href="/gioithieu" rel="nofollow">
                        <span>
                            <span class="icon-slogan">
                                <img class="lazy-img lazy-loaded"
                                    src="https://meta.vn/images/icons/dich-vu-uy-tin-icon.svg"
                                    data-src="https://meta.vn/images/icons/dich-vu-uy-tin-icon.svg" width="64"
                                    height="48" alt="✓"></span>
                            <span class="service-name">Dịch vụ uy tín</span>
                        </span>
                    </a>
                </div>

                <div class="slogan-item">
                    <a href="/chinh-sach-doi-tra" rel="nofollow">
                        <span>
                            <span class="icon-slogan">
                                <img class="lazy-img lazy-loaded"
                                    src="https://meta.vn/images/icons/doi-tra-hang-icon.svg"
                                    data-src="https://meta.vn/images/icons/doi-tra-hang-icon.svg" width="64" height="48"
                                    alt="✓"></span>
                            <span class="service-name">Đổi trả trong 7 ngày</span>
                        </span>
                    </a>
                </div>

                <div class="slogan-item">
                    <a href="/chinh-sach-giao-nhan" rel="nofollow">
                        <span>
                            <span class="icon-slogan">
                                <img class="lazy-img lazy-loaded"
                                    src="https://meta.vn/images/icons/giao-hang-toan-quoc-icon.svg"
                                    data-src="https://meta.vn/images/icons/giao-hang-toan-quoc-icon.svg" width="64"
                                    height="48" alt="✓"></span>
                            <span class="service-name">Giao hàng toàn quốc</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="row mt-3 bg-white custom-text-bot-header">
        <div class="wrap">
            <div class="footer-content support">
                <div class="bar-title">
                    <div>Tổng đài hỗ trợ</div>
                </div>
                <div class="body-supp">
                    <div class="supp region">
                        <div class="region-name"><i class="fa fa-phone-square"></i>Phía Bắc &amp; Trung</div>
                        <div class="region-phone"><span class="title-supp-pc">Mua hàng:</span><span><a
                                    href="tel:09876543210">
                                    (098) 7654 3210</a></span></div>
                        <div class="region-phone"><span class="title-supp-pc">Bảo hành:</span><span><a
                                    href="tel:09876543210">(098) 76 654 321</a></span></div>
                    </div>
                    <div class="supp region">
                        <div class="region-name"><i class="fa fa-phone-square"></i>Phía Nam</div>
                        <div class="region-phone"><span class="title-supp-pc">Mua hàng:</span><span><a
                                    href="tel:09876543210">
                                    (098) 7654 3210</a></span></div>
                        <div class="region-phone"><span class="title-supp-pc">Bảo hành:</span><span><a
                                    href="tel:0987654321">(098) 76 654 321</a></span></div>
                    </div>
                </div>
            </div>
            <div class="footer-content connect">
                <div class="bar-title">
                    <div>Kết nối với chúng tôi</div>
                </div>
                <div class="body-connect">
                    <div class="box-social">
                        <div class="social-item pinterest">
                            <a href="https://www.pinterest.com/" rel="noreferrer nofollow">
                                <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/pinterest-icon.svg"
                                    data-src="https://meta.vn/images/icons/pinterest-icon.svg" width="32" height="32"
                                    alt="pinterest">
                                <div class="name-social">Pinterest</div>
                            </a>
                        </div>
                        <div class="social-item facebook">
                            <a href="https://www.facebook.com/" rel="noreferrer nofollow">
                                <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/facebook-icon.svg"
                                    data-src="https://meta.vn/images/icons/facebook-icon.svg" width="32" height="32"
                                    alt="facebook">
                                <div class="name-social">Facebook</div>
                            </a>
                        </div>
                        <div class="social-item youtube">
                            <a href="https://www.youtube.com/" rel="noreferrer nofollow">
                                <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/youtube-icon.svg"
                                    data-src="https://meta.vn/images/icons/youtube-icon.svg" width="32" height="32"
                                    alt="youtube">
                                <div class="name-social">Youtube</div>
                            </a>
                        </div>
                    </div>

                    <div class="box-social app">
                        <div class="title-app-name">
                            <div>Tải ứng dụng trên điện thoại</div>
                        </div>
                        <div class="social-item appstore">
                            <a href="https://apps.apple.com/" target="_blank" rel="noreferrer nofollow">
                                <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/apple-icon.svg"
                                    data-src="https://meta.vn/images/icons/apple-icon.svg" width="32" height="32"
                                    alt="apple">
                                <div class="name-social">App Store</div>
                            </a>
                        </div>
                        <div class="social-item googleplay">
                            <a href="https://play.google.com/store/" target="_blank" rel="noreferrer nofollow">
                                <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/playstore-icon.svg"
                                    data-src="https://meta.vn/images/icons/playstore-icon.svg" width="32" height="32"
                                    alt="android">
                                <div class="name-social">Google Play</div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="language">
                    <a id="lnk-translate2" href="javascript:void(0);">Language/语言/言語/언어/Sprache</a>
                    <div id="google_translate_element"></div>
                    <span class="btn-close"></span>
                </div>
                <script type="text/javascript">
                    _queuefx(function () { function t() { n.data("loaded") || (window.googleTranslateElementInit = function () { new google.translate.TranslateElement({ pageLanguage: "vi", includedLanguages: "de,en,es,fr,it,iw,ja,ko,lo,pl,pt,ru,th,vi,zh-CN,zh-TW", layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, "google_translate_element") }, _loadJs("//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", function () { n.data("loaded", 1) })) } var i = $("#lnk-translate"), r = $("#lnk-translate2"), n = $("#google_translate_box"); i.click(function (i) { i.preventDefault(); t(); n.toggleClass("center-box") }); r.click(function (n) { n.preventDefault(); t() }); $(".btn-close", n).click(function () { n.animate({ top: "100%", left: "100%" }, 100, function () { n.removeClass("center-box").removeAttr("style") }) }) });
                </script>

            </div>
            <div class="footer-content verified">
                <div class="body-verified">
                    <div class="verified-item comodo">
                        <a>
                            <img width="140" height="65" class="lazy-img lazy-loaded"
                                src="https://meta.vn/images/comodo_secure_seal.png"
                                data-src="https://meta.vn/images/comodo_secure_seal.png" alt="Comodo SSL"></a>
                    </div>
                    <div class="verified-item dmca">
                        <a rel="nofollow noopener"
                            href="https://www.dmca.com/Protection/Status.aspx?ID=9d523b74-7299-4834-8990-8c157b6e8fc7&amp;refurl=https%3a%2f%2fmeta.vn%2f"
                            title="DMCA.com Protection Status" target="_blank" class="dmca-badge">
                            <img width="140" height="65" class="lazy-img lazy-loaded"
                                src="https://meta.vn/images/dmca_logo.png"
                                data-src="https://meta.vn/images/dmca_logo.png" alt="DMCA.com Protection Status">
                        </a>
                    </div>
                    <div class="verified-item tinnhiem">
                        <a rel="nofollow noopener" href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/metavn-1644230237"
                            title="Chung nhan Tin Nhiem Mang" target="_blank">
                            <img width="auto" height="65" class="lazy-img lazy-loaded"
                                src="https://tinnhiemmang.vn/handle_cert?id=meta.vn"
                                data-src="https://tinnhiemmang.vn/handle_cert?id=meta.vn"
                                alt="Chung nhan Tin Nhiem Mang">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-content payment">
                <div class="bar-payment">
                    <div>Chấp nhận thanh toán</div>
                </div>
                <div class="body-payment">
                    <div class="payment-item">
                        <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/pay/visa.svg"
                            data-src="https://meta.vn/images/icons/pay/visa.svg" width="54" height="33"
                            title="Thanh toán bằng thẻ Visa" alt="✓">
                        <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/pay/mastercard.svg"
                            data-src="https://meta.vn/images/icons/pay/mastercard.svg" width="54" height="33"
                            title="Thanh toán bằng thẻ Master Card" alt="✓">
                        <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/pay/internet-banking.svg"
                            data-src="https://meta.vn/images/icons/pay/internet-banking.svg" width="54" height="33"
                            title="Thanh toán bằng Internet Banking (Thẻ ATM nội địa)" alt="✓">
                        <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/pay/cash.svg"
                            data-src="https://meta.vn/images/icons/pay/cash.svg" width="54" height="33"
                            title="Thanh toán bằng tiền mặt" alt="✓">
                        <img class="lazy-img lazy-loaded" src="https://meta.vn/images/icons/pay/alepay.svg"
                            data-src="https://meta.vn/images/icons/pay/alepay.svg" width="54" height="33"
                            title="Thanh toán online qua AlePay" alt="✓">
                    </div>
                </div>
            </div>
            <div class="footer-content info">
                <div class="brand-company">
                    <div class="name-company">Công ty cổ phần mạng trực tuyến</div>
                    <div class="name-slogan">Trên 17 năm Uy tín cung cấp Dịch vụ Bán hàng &amp; Thu tiền tại nhà
                        toàn
                        quốc</div>
                    <div class="name-dkdn" style="display:block;">
                        Giấy chứng nhận ĐKDN số <b>01000000</b> do Sở KH&amp;ĐT TP. Hà Nội cấp ngày 29/03/2007.

                    </div>
                </div>

                <div class="address-company">
                    <div class="add-hn">
                        <span class="add-footer"><strong>HÀ NỘI:</strong> Duy Tân, P. Dịch Vọng Hậu, Q. Cầu
                            Giấy</span>
                        <span class="phone-add"><strong>- Điện thoại:</strong><a href="tel:09876543210"> (098) 7654
                                3210</a></span>
                    </div>
                    <div class="add-hcm">
                        <span class="add-footer"><strong>TP.HCM:</strong>
                            Điện Biên Phủ, Phường 10, Quận 10
                        </span>

                        <span class="phone-add"><strong>- Điện thoại:</strong><a href="tel:09876543210"> (098) 7654
                                3210</a></span>

                    </div>

                </div>

                <div class="info-another support-cust">
                    <div class="title-info">
                        <div>Hỗ trợ khách hàng<span class="arrow-icon"></span></div>
                    </div>
                    <ul class="list-info-another">
                        <li class="info-another-item"><a rel="nofollow" href="/khieu-nai-boi-thuong">Khiếu nại bồi
                                thường</a>
                        </li>
                        <li class="info-another-item"><a rel="nofollow" href="/huong-dan-thanh-toan">Hình thức thanh
                                toán</a>
                        </li>
                        <li class="info-another-item"><a rel="nofollow" href="/huong-dan-mua-hang">Hướng dẫn mua
                                hàng</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/hoadon/"
                                title="Hướng dẫn tải hóa đơn GTGT điện tử khi mua hàng">Hóa đơn GTGT điện tử</a>
                        </li>
                        <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-va-quy-dinh-chung"
                                title="Chính sách và Quy định chung">Chính sách và Quy định chung</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-ban-hang">Chính sách bán
                                hàng
                                &amp;
                                Chất lượng hàng hóa</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-giao-nhan">Giao nhận hàng
                                hóa</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-doi-tra">Chính sách Đổi -
                                Trả
                                hàng
                                hóa</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-bao-hanh">Chính sách Bảo
                                hành</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-bao-mat">Bảo mật dữ liệu
                                cá
                                nhân</a>
                        </li>

                    </ul>
                </div>
                <div class="info-another account-manager">
                    <div class="title-info">
                        <div>Quản lý tài khoản<span class="arrow-icon"></span></div>
                    </div>
                    <ul class="list-info-another">
                        <li class="info-another-item"><a rel="nofollow"
                                href="/account/login?ReturnUrl=%2faccount%2fprofile">Thay đổi thông tin</a></li>
                        <li class="info-another-item"><a rel="nofollow" href="/account/forgot">Lấy lại mật khẩu</a>
                        </li>
                        <li class="info-another-item"><a rel="nofollow" href="/tra-cuu-don-hang">Tra cứu đơn
                                hàng</a>
                        </li>
                        <li class="info-another-item"><a rel="nofollow" href="/checkout">Quản lý giỏ hàng</a></li>
                    </ul>
                </div>
                <div class="info-another about-web">
                    <div class="title-info">
                        <div>Về EXAMPLE.vn<span class="arrow-icon"></span></div>
                    </div>
                    <ul class="list-info-another">
                        <li class="info-another-item"><a href="/gioithieu" rel="nofollow">Giới thiệu</a></li>
                        <li class="info-another-item"><a href="/lienhe" rel="nofollow">Liên hệ</a></li>
                        <li class="info-another-item"><a href="/tuyen-dung" rel="nofollow">Tuyển dụng</a></li>
                        <li class="info-another-item"><a href="/sitemap/">Sơ đồ website</a></li>
                    </ul>
                </div>
            </div>
            <div class="border-bottom-pc-1"></div>
            <div class="border-bottom-pc-2"></div>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>